{% extends 'base.html' %}

{% block title %}Blaine Silva | Personal Portfolio{% endblock %}

{% block content %}
<div style="background-color:#E6E6E6;">
  <div class="main-container contact-container">
    <div class="navbar shadow">
      <ul class="navbar-menu">
        <li><a class="a_link" href="/">Home</a></li>
        <li><a class="a_link" href="/about">About</a></li>
        <li><a class="a_link" href="/contact">Contact</a></li>
      </ul>
    </div>
    <div class="container rounded-4" >
      <img class="profile" src="/static/img/profile.jpg" alt="Blaine Silva's photo"/>
    </div>
    <div class="h1">
      <h1 class="pres-text">Hi! I'm <span>Blaine Silva</span>.</h1>
      <h2 class="pres-text">A python developer</h2>
    </div>
    <div class="about">
      <div class="description_about shadow">
        <p class="a_paragraph">
          My journey started in high school where I had my first contact with the world of
          computing and programming. Now, after completing my Math's Degree, I decided to follow my
          dream of becoming a Professional Developer and Cloud Engineer, and
          since then, I have been developing some Websites and Applications, planning Cloud Solutions and adventuring in Automations too.
        </p>
        <p class="a_paragraph"><b>My timeline:</b></p>
        <p class="a_paragraph" style="color:#486578"> • 2016 - 2019: Integrated High School with IT course at IFRJ. (Brazil)</p>
        <p class="a_paragraph" style="color:#486578"> • 2020 - 2024: Math's Degree at UFF. (Brazil)</p>
        <p class="a_paragraph" style="color:#486578"> • 2024 - now: Studying Web Development, Python, AWS and more. (Online)</p>
      </div>
      <div class="links_about">
      <div class="icon_links shadow">
        <a href="https://instagram/blainesilva16" target="_blank">
          <img src="/static/img/instagram.png"/>
        </a>
      </div>
      <div class="icon_links shadow">
        <a href="https://www.linkedin.com/in/blaine-silva-0ab04a178" target="_blank">
          <img style="border-radius:5px" src="/static/img/linkedin.png"/>
        </a>
      </div>
      <div class="icon_links shadow">
        <a href="https://github.com/blainesilva16" target="_blank">
          <img src="/static/img/github.png"/>
        </a>
      </div>
      <div class="icon_links shadow">
        <a href="#">
          <img src="/static/img/youtube.png"/>
        </a>
      </div>
    </div>
    </div>
  </div>
</div>
{% endblock %}